<% 
    if(typeof error_message !== 'undefined'){
        %>
    <p style="color: red;">
        <%= error_message %>
    </p>
    <% 
    }
%>

        <form action="" method="post">
            <input type="hidden" , name="user_id" , value="<%= user.id %>">
            <input type="hidden" , name="user_email" , value="<%= user.email %>">
            <input type="password" , name="password" , placeholder="New Password">
            <br><br>
            <input type="password" , name="confirm_password" , placeholder="Confirm Password">
            <br><br>
            <input type="submit" value="Reset Password" id="">
        </form>